[Unit]
Description=Java Boilerplate Staging
After=network.target

[Service]
User=teamjava
Group=teamjava
WorkingDirectory=/home/teamjava/hng_boilerplate_java_web
ExecStart=/usr/bin/java -jar /home/teamjava/hng_boilerplate_java_web/target/hng-java-boilerplate-0.0.1-SNAPSHOT.jar

[Install]
WantedBy=multi-user.target
