[Unit]
Description=Java Boilerplate Staging
After=network.target

[Service]
User=teamjava
Group=teamjava
WorkingDirectory=/home/teamjava/boilerplate/dev
ExecStart=/usr/bin/java -jar /home/teamjava/boilerplate/dev/

[Install]
WantedBy=multi-user.target
