name: PR Deploy
on:
  pull_request:
    types: [opened, synchronize, reopened, closed]
jobs:
  deploy-pr:
    environment:
      name: preview
      url: ${{ steps.deploy.outputs.preview-url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the branch
        uses: actions/checkout@v4
      - id: deploy
        name: Pull Request Deploy
        uses: hngprojects/pr-deploy@main
        with:
          server_host: ${{ secrets.SERVER_HOST }}
          server_username: ${{ secrets.SERVER_USERNAME }}
          server_password: ${{ secrets.SERVER_PASSWORD }}
          server_port: ${{ secrets.SERVER_PORT }}
          comment: true
          context: '.'
          dockerfile: 'Dockerfile'
          exposed_port: '8000'
          host_volume_path: '/var/appdata'
          container_volume_path: '/app/data'
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Print Preview URL
        run: |
          echo "Preview URL: ${{ steps.deploy.outputs.preview-url }}"
